@model IEnumerable<Keas.Core.Domain.Team>

@{
    ViewData["Title"] = "Index";
}
<div class="card">
  <div class="card-head">
    <div class="row justify-content-between">
        <h2>Index</h2>
        <a class="btn btn-link" asp-action="Create"><i class="fas fa-plus fa-xs"/></i> Create New</a>
    </div>
  </div>
  <div class="card-content">

    <table class="table">
        <thead>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
    }
        </tbody>
    </table>

  </div>
</div>
