.keys-color {
  .fa-info-circle {
    color: transparentize($keys, 0.6);
  }
  .card-header-keys {
    border-bottom: 4px solid $keys;
  }
  .btn-primary {
    background-color: $keys;
    &:active,
    &:focus {
      background-color: darken($keys, 5);
    }
    &:hover {
      background-color: lighten($keys, 5);
    }
  }
  .fa-ellipsis-h:before {
    color: $keys;
  }
}
.equipment-color {
  .fa-info-circle {
    color: transparentize($equipment, 0.5);
  }
  .card-header-equipment {
    border-bottom: 4px solid $equipment;
  }
  .btn-primary {
    background-color: $equipment;
    &:active,
    &:focus {
      background-color: darken($equipment, 5);
    }
    &:hover {
      background-color: lighten($equipment, 5);
    }
  }
  .fa-ellipsis-h:before {
    color: $equipment;
  }
  i.fa-sync-alt {
    color: $equipment;
  }
}
.access-color {
  .fa-info-circle {
    color: transparentize($access, 0.6);
  }
  .card-header-access {
    border-bottom: 4px solid $access;
  }
  .btn-primary {
    background-color: $access;
    &:active,
    &:focus {
      background-color: darken($access, 5);
    }
    &:hover {
      background-color: lighten($access, 5);
    }
  }
  .fa-ellipsis-h:before {
    color: $access;
  }
}
.spaces-color {
  .fa-info-circle {
    color: transparentize($spaces, 0.4);
  }
  .card-header-spaces {
    border-bottom: 4px solid $spaces;
  }
  .btn-primary {
    background-color: $spaces;
    &:active,
    &:focus {
      background-color: darken($spaces, 5);
    }
    &:hover {
      background-color: lighten($spaces, 5);
    }
  }
  .fa-ellipsis-h:before {
    color: $spaces;
  }
}
.people-color {
  p a {
    color: $people;
  }
  .fa-info-circle {
    color: transparentize($people, 0.96);
  }
  .card-header-people {
    border-bottom: 4px solid $people;
  }
  .btn-primary {
    background-color: $people;
    &:active,
    &:focus {
      background-color: darken($people, 5);
    }
    &:hover {
      background-color: lighten($people, 5);
    }
  }
  .fa-ellipsis-h:before {
    color: $people;
  }
  i.fa-sync-alt {
    color: $people;
  }
  .input-group-append {
    .btn-outline-secondary:not(:disabled):not(.disabled):active,
    .btn-outline-secondary:not(:disabled):not(.disabled).active,
    .show > .btn-outline-secondary.dropdown-toggle {
      background-color: $people;
      border-color: $people;
    }
    .btn-outline-secondary {
      color: $people;
    }
  }
}
.history-color {
  .card-header-history {
    border-bottom: 4px solid $history;
  }
  .btn-primary {
    background-color: $history;
    &:active,
    &:focus {
      background-color: darken($history, 5);
    }
    &:hover {
      background-color: lighten($history, 5);
    }
  }
  i.fa-sync-alt {
    color: $history;
  }
  .input-group-append {
    .btn-outline-secondary:not(:disabled):not(.disabled):active,
    .btn-outline-secondary:not(:disabled):not(.disabled).active,
    .show > .btn-outline-secondary.dropdown-toggle {
      background-color: $history;
      border-color: $history;
    }
    .btn-outline-secondary {
      color: $history;
    }
  }
}
.documents-color {
  .card-header-documents {
    border-bottom: 4px solid $documents;
  }
  .btn-primary {
    background-color: $documents;
    &:active,
    &:focus {
      background-color: darken($documents, 5);
    }
    &:hover {
      background-color: lighten($documents, 5);
    }
  }
  i.fa-sync-alt {
    color: $documents;
  }
  .input-group-append {
    .btn-outline-secondary:not(:disabled):not(.disabled):active,
    .btn-outline-secondary:not(:disabled):not(.disabled).active,
    .show > .btn-outline-secondary.dropdown-toggle {
      background-color: $documents;
      border-color: $documents;
    }
    .btn-outline-secondary {
      color: $documents;
    }
  }
}

//
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  border-color: rgba(255, 255, 255, 0.9999) !important;
  .people-color & {
    background-color: $people;
  }
  .keys-color & {
    background-color: $keys;
  }
  .spaces-color & {
    background-color: $spaces;
  }
  .access-color & {
    background-color: $access;
  }
  .equipment-color & {
    background-color: $equipment;
  }
}
