.card {
  background-color: #ffffff;
  box-shadow: $box-shadow;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom:16px;
  border:none;
}
.alert {
  margin-top:1.6rem;
}
.card-content {
  padding:$card-padding;
  padding-bottom:2.6rem;
  padding-top:2.6rem;
}
.card-head {
  padding:$card-padding;
  padding-top:1.8rem;
}
.team-link {
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  width:200px;
  line-height: 40px;
  padding: 0 20px;
  box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 3px rgba(0,0,0,.08);
  background: $secondary-color;
  border-radius: 2px;
  font-size: 1.6rem;
  letter-spacing: 0.025em;
  color: #fff !important;
  text-decoration: none;
  transition: all 0.15s ease;
  border: none;
  font-family: $sans-bold;
  &:active,
  &:focus {
    background-color: darken($primary-color, 5);
  }
  &:hover {
    color: #fff !important;
    transform: translateY(-1px);
    box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.15) inset, 0 3px 6px rgba(0,0,0,.08);
    background-color: lighten($primary-color, 5);
    text-decoration: none !important;
  }

}
.card-gradient-header {
  background: url("/media/gradient-header.svg") center top/cover no-repeat;
  height: 6px;
}
.card-gradient-header-bleed {
  background: #1e3a5b;
  background: -moz-linear-gradient(left,#1e3a5b 0%,#1e3a5b 44%,#dbbc5b 57%,#dbbc5b 100%);
  background: -webkit-linear-gradient(left,#1e3a5b 0%,#1e3a5b 44%,#dbbc5b 57%,#dbbc5b 100%);
  background: linear-gradient(to right,#1e3a5b 0%,#1e3a5b 44%,#dbbc5b 57%,#dbbc5b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= '$gradient-one',endColorstr='$gradient-two',GradientType=1);
}
.card-header-spaces {
  border-bottom:4px solid $spaces;
}
.card-header-primary {
  border-bottom:2px solid $borders;
}
.card-header-primary-thick {
    border-bottom: 4px solid $borders;
}
.card-header-keys {
  border-bottom:4px solid $keys;
}
.card-header-access {
  border-bottom:4px solid $access;
}
.card-header-equipment {
  border-bottom:4px solid $equipment;
}
.card-header-other {
  border-bottom:2px solid $blue;
}
.card-header-people {
  border-bottom:4px solid $people;
}
.card-foot {
  padding:$card-padding;
  border-top:1px solid $borders;
}
button {
  cursor:pointer;
}
img.img-fluid {
  width: 100%;
}
.alert {
  padding:$card-padding;
  p {
    margin-bottom:0px;
    color:$secondary-font;
  }
  @include fader;
  box-shadow:$box-shadow;
  &:hover {
    transform: translateY(-1px);
  }
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  border-color: rgba(255,255,255,.9999) !important;
  .people-color & {
    background-color: $people;
  }
  .keys-color & {
    background-color: $keys;
  }
  .spaces-color & {
    background-color: $spaces;
  }
  .access-color & {
    background-color: $access;
  }
  .equipment-color & {
    background-color: $equipment;

  }



}
.alert-red {
  background-color:transparentize($unitrans-red,0.35);
  &:hover {
    background-color:transparentize($unitrans-red,0.15);
}
}
.alert-yellow {
  background-color: transparentize($golden-lupine,0.35);
  &:hover {
    background-color:transparentize($golden-lupine,.15);
}
}
.alert-green {
  background-color: transparentize($sunny-grass,0.35);
  &:hover {
    background-color:transparentize($sunny-grass,.15);
}
}
.alert-blue {
  background-color: transparentize($sky-blue,0.35);
  &:hover {
    background-color:transparentize($sky-blue,.15);
}
}
.btn-team {
  background-color: #fff;
  border:1px solid #c7c8cc;
  padding:.6rem 1.2rem;
  border-radius: 3px;
  .teamname {
    text-align:right;
    max-width:200px;
    margin-right:16px;
  }
  i {
    color:#c7c8cc;
  }
}
.dropdown-toggle::after {
  content:none;
}
.btn {
  &.btn-primary {
    @include main-btn;

  }
  &.btn-success {
    @include main-btn;
    background-color:$access !important;
  }
&.btn-link {
  color: $primary-color;
  font-size: 1.6rem;
  font-family: $sans-bold;
  border:none;
  cursor: pointer;
  &:hover {
    color: lighten($primary-color,5);
    text-decoration: none;
  }
  .people-color & {
    color:$people;
    border-color:$people;
    &:hover {
      color:(darken($people,10));
      text-decoration:none;
    }
  }

  .keys-color & {
    color:$keys;
    border-color:$keys;
    &:hover {
      color:(darken($keys,10));
      text-decoration:none;
    }
  }
  .spaces-color & {
    color:$spaces;
    border-color:$spaces;
    &:hover {
      color:(darken($spaces,10));
      text-decoration:none;
    }
  }
  .access-color & {
    color:$access;
    border-color:$access;
    &:hover {
      color:(darken($access,10));
      text-decoration:none;
    }
  }

  .equipment-color & {
    color:$equipment;
    border-color:$equipment;
    &:hover {
      color:(darken($equipment,10));
      text-decoration:none;
    }
  }
  .history-color & {
    color:$history;
    border-color:$history;
    &:hover {
      color:(darken($history,10));
      text-decoration:none;
    }
  }
}
}
.btn-border {
  border:1px solid #C7C8CC !important;
  color:$secondary-font !important;
}
.people-color {
  .fa-ellipsis-h:before {
    color:$people;
  }
}
.access-color {
  .fa-ellipsis-h:before {
    color:$access;
  }
}
.keys-color {
  .fa-ellipsis-h:before {
    color:$keys;
  }
}
.spaces-color {
  .fa-ellipsis-h:before {
    color:$spaces;
  }
}
.equipment-color {
  .fa-ellipsis-h:before {
    color:$equipment;
  }
}

.keys-color .btn-primary {
  background-color:$keys;
  &:active,
  &:focus {
    background-color: darken($keys, 5);
  }
  &:hover {
    background-color: lighten($keys, 5);
  }
}
.equipment-color .btn-primary {
  background-color:$equipment;
  &:active,
  &:focus {
    background-color: darken($equipment, 5);
  }
  &:hover {
    background-color: lighten($equipment, 5);
  }
}
.access-color .btn-primary {
  background-color:$access;
  &:active,
  &:focus {
    background-color: darken($access, 5);
  }
  &:hover {
    background-color: lighten($access, 5);
  }
}
.spaces-color .btn-primary {
  background-color:$spaces;
  &:active,
  &:focus {
    background-color: darken($spaces, 5);
  }
  &:hover {
    background-color: lighten($spaces, 5);
  }
}
.people-color .btn-primary {
  background-color:$people;
  &:active,
  &:focus {
    background-color: darken($people, 5);
  }
  &:hover {
    background-color: lighten($people, 5);
  }
}
.media {
  margin-bottom: 16px;

  img {
    margin-right: 20px;
  }

  .media-body {}
}
.keys-report {
  i {
    color:$keys;
  }
}
.equipment-report {
  i {
    color:$equipment;
  }
}
.access-report {
  i {
    color:$access;
  }
}
.people-report {
  i {
    color:$people;
  }
}
.spaces-report {
  i {
    color:$spaces;
  }
}
ol.breadcrumb {
  display: inline-block;
  list-style: none;
  border: 0;
  padding-left: 0;
  background-color: #fff;
  margin-bottom: 0;
  margin-top: 16px;

  li {
    font-size: 1.4rem;
  }

  a {
    color: $tertiary-font;
    // &:hover {
    //     color: darken($primary-color, 20%);
    // }
  }

  > li {
    display: inline-block;

    & + li:before {
      padding: 0 5px;
    }
  }

  > .active a {
    color: $secondary-font;
  }

  > li+li:before {
    color: $tertiary-font;
    content: "/";
  }
}

.marketing-highlight {
  .mh-title {
    background-color: $primary-color;

    h2 {
      color: #fff;
      font-size: 2.6rem;
      margin: 0;
      padding: 16px 24px;
    }
  }

  .mh-content {
    background-color: $bg-color;
    padding: 20px 24px;
  }
}

.separator {
  margin: 20px 0 10px;
}

.m-r {
  margin-right:8px;
}
.m-l {
  margin-left:8px
}
.m-b {
  margin-bottom: 16px;
}
.align-items-center {
  align-items: center;
}

.align-items-top {
  align-items: top;
}

.align-center {
  align-self: center;
}

.flex-between {
  justify-content: space-between;
}

.flexer {
  display: flex;
}

.t-right {
  text-align: right;
}

.t-center {
  text-align: center;
}

.display-inline-block {
  display: inline-block;
}

.spacer {
  padding: 12% 0 9%;
}

.card-nobrdr {
  border: 0 solid #fff;
}

.bot-border {
  border-bottom: 1px solid $bg-color;
}
//database

.border-top {
  border-top: 2px solid rgba(255,255,255,0.95);
}

.border-blue-top {
  border-top: 1px solid $primary-color;
}

.border-blue-bottom {
  border-bottom: 1px solid $primary-color;
}

.border-blue-right {
  border-right: 1px solid $primary-color;
}

.bg-unitrans {
  background-color: $unitrans-red;
}

.bg-sunny-grass {
  background-color: $sunny-grass;
}

.bg-golden-lupine {
  background-color: $golden-lupine;
}

.bg-recpool {
  background-color: $recpool-blue;
}

.bg-skyblue {
  background-color: $sky-blue;
}

.bg-winegrape {
  background-color: $wine-grape;
}

.border-unitrans {
  border-color: $unitrans-red;
}

.border-skyblue {
  border-color: $sky-blue;
}

.border-sunny-grass {
  border-color: $sunny-grass;
}

.border-golden-lupine {
  border-color: $golden-lupine;
}

.color-unitrans {
  color: $unitrans-red !important;
}

.color-sunny-grass {
  color: $sunny-grass;
}

.color-golden-lupine {
  color: $golden-lupine;
}

.color-winegrape {
  color: $wine-grape;
}

.color-western-redbud {
  color: $western-redbud;
}

.color-poppy {
  color: $california-poppy;
}

.color-skyblue {
  color: $sky-blue;
}

.primary-color {
  color: $primary-color;
}

.secondary-color {
  color: $secondary-color;
}

.a-color {
  color: $a-link;
}
.primary-color {
  color:$primary-color;
}
.sans-bold {
  font-family: $sans-bold;
}
.primary-font {
  color: $primary-font;
}

.secondary-font {
  color: $secondary-font;
}

.tertiary-font {
  color: $tertiary-font;
}

.flex-center {
  align-items: center;
}
.twopointoh {
  font-size:2rem;
}
.onepointeight {
  font-size:1.8rem;
}
.card-bot-border {
  border-bottom:1px solid $borders;
}
.table-borderless {
  td, th {
    border-top:none !important;
    padding-left:0px;
  }
  .rbt {
    margin-bottom:0px;
  }
}
.ReactTable .rt-thead .rt-th.-sort-asc, .ReactTable .rt-thead .rt-td.-sort-asc {
  .people-color & {
    box-shadow: inset 0 3px 0 0 $people;
  }
  .keys-color & {
    box-shadow: inset 0 3px 0 0 $keys;
  }
  .spaces-color & {
    box-shadow: inset 0 3px 0 0 $spaces;
  }
  .access-color & {
    box-shadow: inset 0 3px 0 0 $access;
  }
  .equipment-color & {
    box-shadow: inset 0 3px 0 0 $equipment;
  }

}
.ReactTable .rt-thead .rt-th.-sort-desc, .ReactTable .rt-thead .rt-td.-sort-desc {
  .people-color & {
    box-shadow: inset 0 -3px 0 0 $people;
  }
  .keys-color & {
    box-shadow: inset 0 -3px 0 0 $keys;
  }
  .spaces-color & {
    box-shadow: inset 0 -3px 0 0 $spaces;
  }
  .access-color & {
    box-shadow: inset 0 -3px 0 0 $access;
  }
  .equipment-color & {
    box-shadow: inset 0 -3px 0 0 $equipment;
  }


}
.-btn {
  color:#fff!important;
  font-family: $sans-bold;
  width:66% !important;
  display:inline !important;
  .people-color & {
      background-color: lighten($people,5) !important;
  }
  .keys-color & {
    background-color: $keys !important;
  }
  .spaces-color & {
    background-color: $spaces !important;
  }
  .access-color & {
    background-color: $access !important;
  }
  .equipment-color & {
    background-color: transparentize($equipment,.2) !important;
  }
}
.-previous {
  text-align: left !important;
}
.-next {
  text-align: right !important;
}

.keys-anomaly {
    color:$keys !important;
    border-color:$keys;
    &:hover {
      color:(darken($keys,10));
      text-decoration:none;
    }
    &.fa-ellipsis-h:before {
      color:$keys;
    }
}
