//main Search
.topsearch {
  input {
    box-shadow: $box-shadow;
    background: url("/media/search-icon.svg") top left     no-repeat;
    background-size: 24px 24px;
    background-position: 10px 8px;
    background-color: #fff;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    color: $tertiary-color;
    height: 42px;
    border: none;
    font-family: $sans-bold;
    padding: 0 7px 0 45px;
    width: 400px;
    position: relative;
    transition: box-shadow .2s ease-in-out;
  }
}
label {
  font-size:1.6rem;
}
.form-control {
  font-size:1.6rem;
}

.custom-select {
  height: 40px;
}