*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  height: inherit;
}

body {
  margin: 0 0 100px;
  background-color: $bg-color;
}

.container {
  padding: 0;
  width: 98%;
  max-width:1440px;
  @include breakpoint (sm) {
    width: 96%;
    max-width:1440px;
  }
  @include breakpoint (md) {
    width: 92%;
    max-width:1440px;
  }
  @include breakpoint(lg) {
    width: 90%;
    max-width:1440px;
  }
  @include breakpoint(xl) {
    width: 80%;
    max-width:1440px;
  }
}

.logo {
  margin-top: 7px;

  g#logocolor {
    fill: $primary-color;
  }
}
header {
  background-color:white;
  padding:16px 0px;
}
.head_bleed {
  background: #1e3a5b;
    background: -moz-linear-gradient(left,#1e3a5b 0%,#1e3a5b 44%,#dbbc5b 57%,#dbbc5b 100%);
    background: -webkit-linear-gradient(left,#1e3a5b 0%,#1e3a5b 44%,#dbbc5b 57%,#dbbc5b 100%);
    background: linear-gradient(to right,#1e3a5b 0%,#1e3a5b 44%,#dbbc5b 57%,#dbbc5b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradient-one',endColorstr='$gradient-two',GradientType=1);
}
.head_divider {
    background: url(/media/gunrock_banner_final.svg) center top/cover no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:10px;
}
.profile {
  display: flex;
  align-items: center;

  img.profile-picture {
    border-radius: 50%;
    width: 44px;
    margin-right: 4px;
    box-shadow: $box-shadow;

    &:hover {
      transform: translateY(-1px);
    }
  }

  button {
    border: none;
    background-color: rgba(255,255,255,.001);
  }
}
.card-style {
  background-color: #ffffff;
  box-shadow: $box-shadow;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom:16px;
}

.card-content {
  padding:$card-padding;
  padding-top:2.6rem;
  padding-bottom:2.6rem;
}
.card-head {
  padding:$card-padding;
  padding-top:1.8rem;
}
.card-gradient-header {
  background: url("/media/gradient-header.svg") center top/cover no-repeat;
  height: 6px;
}
.card-gradient-header-bleed {
  background: #1e3a5b;
  background: -moz-linear-gradient(left,#1e3a5b 0%,#1e3a5b 44%,#dbbc5b 57%,#dbbc5b 100%);
  background: -webkit-linear-gradient(left,#1e3a5b 0%,#1e3a5b 44%,#dbbc5b 57%,#dbbc5b 100%);
  background: linear-gradient(to right,#1e3a5b 0%,#1e3a5b 44%,#dbbc5b 57%,#dbbc5b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= '$gradient-one',endColorstr='$gradient-two',GradientType=1);
}
.card-header-primary {
  border-top:4px solid $primary-color;
}
.card-header-yellow {
  border-top:4px solid $golden-lupine;
}
.card-foot {
  padding:$card-padding;
  border-top:1px solid $borders;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
}

.footer_bleed {
  background: #1e3a5b;
  background: -moz-linear-gradient(left,#1e3a5b 0%,#1e3a5b 44%,#dbbc5b 57%,#dbbc5b 100%);
  background: -webkit-linear-gradient(left,#1e3a5b 0%,#1e3a5b 44%,#dbbc5b 57%,#dbbc5b 100%);
  background: linear-gradient(to right,#1e3a5b 0%,#1e3a5b 44%,#dbbc5b 57%,#dbbc5b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= '$gradient-one',endColorstr='$gradient-two',GradientType=1);
}

.footer_divider {
  background: url("/media/gunrock_banner_final.svg") center top/cover no-repeat;
  height: 44px;
  padding-top: 10px;
}
