ul.main-nav {
  list-style: none;
  font-family: $sans-bold;
  margin-left:0px;
  padding-left:0px;
  li {
    padding:2px 0px;
    a {
      font-size:1.8rem;
      color:$primary-font;
      img {
        margin-right:12px;
        margin-bottom:3px;
      }
      &:hover {
        color:$primary-color;
        @include fader;
      }
    }
  }

}
nav {
  margin-top:60px;

  .nav-item {
    padding:8px 0px;
  }

  .navitem {
    color:$secondary-font;
    font-size: 1.8rem;
    font-family: $sans-bold;
  }
  &:hover .navitem {
    color:$primary-font;
  }
  
  .svgwrapper {
    margin-right:18px;
    width:34px;
  }
  .btn-plain {

  }

  .subnav {
    // svg size and margin
    margin-left: 34px  + 18px;
  
    .navitem {
      font-size: 1.6rem;
    }
  }
}
// g#home-secondary, g#settings-primary {
//   fill:$bg-color;
// }
// g#home-primary, g#support-primary, g#settings-secondary, g#logout-primary {
//   // fill:lighten( $tertiary-color,25% );
//   fill:#A0A1A2;
// }
// g#invoices-secondary, g#support-secondary, g#logout-secondary {
//   // fill:lighten( $tertiary-color,15% );
//   fill:#A0A1A2;
// }
//  g#invoices-tertiary, g#support-tertiary, g#settings-tertiary, g#logout-tertiary {
//   // fill:lighten( $tertiary-color,5% );
//   fill:#A0A1A2;
// }
g#home-tertiary, g#invoices-secondary, g#invoices-tertiary, g#support-secondary, g#support-tertiary, g#settings-tertiary, g#logout-secondary, g#logout-tertiary {
  fill:#BBBBBB;
}
g#home-primary, g#invoices-primary, g#support-primary, g#settings-secondary, g#settings-primary, g#logout-primary {
 fill:#979797;
}
g#settings-secondary {
  fill:$bg-color;
}
a.nav-home:hover {
  g#home-primary {
    fill:$primary-color;
  }
  // g#house-secondary {
  //   fill:$tertiary-font;
  // }
}
a.nav-invoices:hover {
  g#invoices-primary {
    fill:$primary-color;
  }
  // g#invoices-secondary {
  //   fill:$tertiary-font;
  // }
}
a.nav-support:hover {
  g#support-primary {
    fill:$primary-color;
  }
  // g#support-secondary {
  //   fill:$tertiary-font;
  // }
}

a.nav-settings:hover {
  g#settings-primary {
    fill:$primary-color;
  }
  // g#settings-secondary {
  //   fill:$tertiary-font;
  // }
}
button.nav-logout:hover {
  g#logout-primary {
    fill:$primary-color;
  }
  // g#nuke-secondary {
  //   fill:$tertiary-font;
  // }
}
