// card-dashboard-button

.card-dashboard-button {
  padding:$card-padding;
}


// Payments layout and card

.pay-memo {
  box-shadow: $box-shadow;
  padding: 16px;

  p {
    margin-bottom: 0;
    font-style:italic;
  }
  margin-bottom: 40px;
}

.pay-card-style {
  margin: 0 auto;
  max-width: 761px;
}

.pay-top {
  text-align: center;
  padding: $card-thick-padding;
  p {
    font-size: 2rem;
    margin-bottom: 0;
  }
}

.pay-action {
  background-color: transparentize($gold,.96);
  padding: $card-thick-padding;
  text-align: center;
  border-top:1px solid $borders;
  border-bottom:1px solid $borders;
  p {
    font-size: 2rem;
    margin: 18px 0;
  }
}

.pay-description {
  padding: $card-thick-padding;
}

.pay-download {
  background-color: $bg-color;
  padding: $card-thick-padding;
  text-align: center;

  h3 {
    margin:12px 0px 24px 0;
  }
}

.pay-footer {
  padding: 16px;
  text-align: center;
}

// Preview warning card

.preview-warning-card-style {
  padding: 16px 48px 8px;
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 761px;
  border-left: solid $unitrans-red 6px;

  .preview-warning-icon {
    color: $unitrans-red;
  }
}

// Payments table
table.pay-table {
  border-collapse: collapse;
  margin-bottom:0px;
  th,td {
    padding:12px 0px;
  }
  thead {
    th {
      font-size: 1.8rem;
      font-family: $sans-reg;
      border: none;
      color: $secondary-font;
      font-weight: inherit;
      border-bottom:1px solid $borders;
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        text-align: right;
      }
    }
  }

  tbody {
    tr {
      &:last-child {
        border-top: 1px solid $borders;
        td {
          color: $primary-font;
          font-family: $sans-reg;
        }
      }
    }

    td {
      font-size: 1.6rem;
      font-family: $sans-reg;
      color: $tertiary-font;
      border: none;
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        text-align: right;
      }
    }
  }
}
table.table {
  td {
    vertical-align: inherit;
  }
  tbody + tbody {
    border:none;
  }
}

// Invoice table
table.invoice-table {
  border-collapse: collapse;
  margin-bottom:0px;
  td {
    padding:12px 0px;
  }
  thead {
    th {
      font-size: 1.8rem;
      font-family: $sans-reg;
      border: none;
      color: $secondary-font;
      font-weight: inherit;
      padding:0px;
      padding-top:8px;
      &:nth-child(4) {
        text-align: right;
      }
    }
  }

  tbody {
    &.tbody-invoice-details {
      tr {
        td:first-child {
          // width:45%;
          padding-right:16px;
        }
        td:nth-child(2) {
          width:12%;
          padding-right:16px;
        }
        td:nth-child(3) {
          width:12%;
          input {
            text-align: right;
          }
        }
        td:nth-child(4) {
          width:12%;
        }
        td:nth-child(5) {
          width:30px;
        }
      }
    }
    td {
      font-size: 1.6rem;
      font-family: $sans-reg;
      color: $secondary-font;
      border: none;
      &:nth-child(5),
      &:nth-child(4) {
        text-align: right;
      }

      &:nth-child(4) {
        padding-right:16px;
      }
    }
  }
  tfoot {
    border:none;
    tr {
      td {
        border-top:none;
        font-size: 1.6rem;
        font-family: $sans-bold;
        color:$primary-font;

        &:nth-child(4) {
          text-align: right;
          padding-right:16px;
        }

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4), {
          border-top: 1px solid $borders;
        }
      }
    }
  }
}

// datatables
.dataTables_wrapper {
  font-size:1.6rem;
}

table.dataTable {
  border: 1px solid $borders;
  border-collapse: collapse !important;
  .odd td {
    background-color:#f9f9f9;
  }
  th, td {

  }
  thead {
    th {
      font-size: 1.4rem;
      font-family: $sans-bold;
      color: $primary-font;
      font-weight: inherit;
      text-transform: uppercase;
      border:none;
      padding-top:8px;
      padding-bottom:8px;
      border-bottom:1px solid $borders;
      border-right:1px solid $borders;
      &:last-child {
        border-right:none;
      }

    }

    .sorting:before,
    .sorting:after,
    .sorting_asc:before,
    .sorting_asc:after,
    .sorting_desc:before,
    .sorting_desc:after {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
  tbody {
    // border-left:1px solid $borders;
    // border-right:1px solid $borders;
  }
  td {
    font-size:1.6rem;
    border:none;
    border-bottom:1px solid $borders;
    border-right:1px solid $borders;
    &:last-child {
      border-right:none;
    }
  }
}

// invoice table
table#Invoices {
  tbody {
    tr {
      cursor: pointer;

      td.invoices-edit-btn {
        width:30px;
      }

      &:hover td {
        font-weight: bold;
      }
    }
  }
}

// multi customer control
.multi-customer-control {
  .email-badge-row {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;

    span {
      margin-bottom: 1rem;
      margin-right: 1rem;
      padding: 0.5em 1em;

      font-size: 1.4rem;
      font-weight: 400;

      button {
        color: white;
      }
    }
  }
}

.account-details-modal {

  .modal-header{
    background-color: $bg-color;
    
    .modal-title {
      font-size: 2rem;
      font-weight: 600;
    }
  }

  .modal-body {
    background-color: $bg-color;

    .account-name {
    }

    .account-description {
    }

    &:hover {
      background-color: darken($bg-color, 5%);
    }
  }

  .modal-body + .modal-body {
    border-top: 1px solid $borders;
  }
}

.send-invoice-modal {
  .modal-body + .modal-body {
    border-top: 1px solid $borders;
  }
}