@model Keas.Mvc.Models.AssetModel
@{
    ViewData["Title"] = "Team Assets";
}

<div id="react-app">Loading...</div>

@Html.AntiForgeryToken()

@section  Styles {
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/dist/asset.css" asp-append-version="true" />
    </environment>
}

@section Scripts {
    <script>
        window.App = {};
        window.App.teamData = @Json.Serialize(Model.Team);
        window.App.permissionsData = @Json.Serialize(Model.Permissions);
        window.App.antiForgeryToken = document.getElementsByName('__RequestVerificationToken')[0].value;
    </script>

    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    <script src="~/dist/asset.js" asp-append-version="true"></script>
    
}
