@model Keas.Mvc.Models.AssetModel
@{
    ViewData["Title"] = "Team Assets";
}

<div id="react-app">Loading...</div>

@section scripts {
    <script>
        window.App = {};
        window.App.teamData = @Json.Serialize(Model.Team);
        window.App.permissionsData = @Json.Serialize(Model.Permissions);
    </script>

    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    <script src="~/dist/asset.js" asp-append-version="true"></script>
}
