@model Keas.Core.Domain.Team
@{
    ViewData["Title"] = "Team Assets";
}

<div id="react-app">Loading...</div>

@section scripts {
    <script>
        window.App = {};
        window.App.teamData = @Json.Serialize(Model);
    </script>

    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    <script src="~/dist/asset.js" asp-append-version="true"></script>
}
