<ul class="list-group">
  <li class="list-group-item"><a class="btn btn-link" asp-action="Index" asp-controller="TagsManager">Team Tags</a></li>
  <li class="list-group-item"><a class="btn btn-link" asp-action="AddFISOrg">Add New Org Code</a></li>
  <li class="list-group-item"><a class="btn btn-link" asp-action="AddPpsDepartment">Add PPS Department</a></li>
  <li class="list-group-item"><a class="btn btn-link" asp-action="BulkLoadPeople">Bulk Load People</a></li>
  <li class="list-group-item"><a class="btn btn-link" asp-action="RoledMembers">Admin roles</a></li>
  <li class="list-group-item"><a class="btn btn-link" asp-action="Index" asp-controller="Report">Reports</a></li>
  <li class="list-group-item"><a class="btn btn-link" asp-action="RegenerateApiCode">API Code</a></li>
</ul>
