@model Keas.Core.Domain.FinancialOrganization

@{
    ViewData["Title"] = "Add Org Code";
}
<div class="card">
  <div class="card-head">
    <div class="row justify-content-between">
      <h2>Add Org Code</h2>
      <a class="btn btn-link" asp-action="Index"><i class="fas fa-arrow-left fa-xs"/></i> Back to List</a>
    </div>
  </div>
  <div class="card-content">


<div class="row">
    <div class="col-md-4">
        <form asp-action="AddFISOrg">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Chart" class="control-label"></label>
                <input asp-for="Chart" class="form-control"/>
                <span asp-validation-for="Chart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrgCode" class="control-label"></label>
                <input asp-for="OrgCode" class="form-control"/>
                <span asp-validation-for="OrgCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Org to Team" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

</div>
