@model IEnumerable<Keas.Core.Domain.TeamPpsDepartment>

@{
    ViewData["Title"] = "Bulk Load People";
}
  <div class="card">
    <div class="card-header-primary">
      <div class="card-head">
<h2>Bulk load people from IAM/PPS appointments</h2>
      </div>
    </div>
    <div class="card-content">

              <p>Note, this may take quite some time for very large departments. You can re-run the loader to import new employees. It will add any new people as needed. It will not remove anyone, even if their appointment has ended.
</p>
        <p>What is IAM? <a href="https://iam.ucdavis.edu/" target="blank" ref="noopener noreferrer">Identity and Access Management</a> that we use to get user information.</p>
        <p><strong>Please be aware</strong>, bulk load is from IAM based on the PPS department code/associations. In certain situations, there are discrepancies between these systems because people are allowed to change their departmental associations in the campus directory and IAM, even though their home department codes have not changed in PPS.</p>

          <h2>PPS Departments</h2>
          @foreach (var ppsDept in Model)
          {
              <p>@ppsDept.DepartmentName (@ppsDept.PpsDepartmentCode)</p>
          }



              <form asp-action="LoadPeople">
                  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                  <div class="form-group">
              <input id="submitbtn" type="submit" value="Add People from PPS Depts to Team" class="btn btn-primary"/>
                  </div>
              </form>

      <div id="loading">
          <div id="loadingcontent">
              <p id="loadingspinner">
                  Loading people... <i class="fas fa-sync fa-spin"></i>
              </p>
          </div>
      </div>

    </div>
  </div>

<div class="card people-color">
    <div class="card-header-people">
        <div class="card-head">
            <h2>Upload People</h2>
        </div>
    </div>
    <div class="card-content">
        <a asp-controller="PersonAdmin" asp-action="UploadPeople" class="btn btn-link">Load people from CSV <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
    </div>
</div>

@section Scripts {

<script type="text/javascript">
    $(function () {
        $("#submitbtn").click(function () {
            $("#loading").fadeIn();
        });
    });
</script>

}

@section Styles {
<style type="text/css">
    #loading
    {
        display:none;
        position:fixed;
        left:0;
        top:0;
        width:100%;
        height:100%;
        background:rgba(255,255,255,0.8);
        z-index:1000;
    }

    #loadingcontent
    {
        display:table;
        position:fixed;
        left:0;
        top:0;
        width:100%;
        height:100%;
    }

    #loadingspinner
    {
        display: table-cell;
        vertical-align:middle;
        width: 100%;
        text-align: center;
        font-size:larger;
        padding-top:80px;
    }
</style>
}
