@model IEnumerable<Keas.Core.Domain.TeamPermission>
@*Keas.Mvc.Controllers.TeamAdminController.TeamAdminMembersListModel*@

@{
        ViewData["Title"] = "Members ";
    }

<h2>Members of  </h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Roles
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.User.Name
            </td>
            <td>
            @item.TeamRole.Name

            </td>


        </tr>
}
    </tbody>
</table>
