@model Keas.Core.Domain.Team

@{
    ViewData["Title"] = "Regenerate Api Code";
}

<div class="row justify-content-between">
  <div class="col-md-9">
  <div class="card">
    <div class="card-header-primary">
      <div class="card-head">
  <h2>@Model.Name</h2>
      </div>
    </div>
    <div class="card-content">
      <p><b>@Html.DisplayNameFor(model => model.ApiCode)</b></p>

      <p>@Html.DisplayFor(model => model.ApiCode)</p>     
    </div>
  </div>
  </div>
  <form asp-action="AddFISOrg">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <div class="card">
        <div class="well">
            <p>Click Confirm to generate a new API code</p>
        </div>
        <div style="padding: 19px 20px 20px;">
            <button type="submit" class="btn btn-primary">
                <i class="icon-save button-icon"></i>
                Confirm
            </button>
            @Html.AdminActionLink("Cancel", "Index", new { }, new { @class = "btn" })
        </div>
    </div>
  </form>
  <div class="col-md-3">


        @{await Html.RenderPartialAsync("_TeamAdminMenu");}
  
  </div>
</div>