@model Keas.Mvc.Models.TeamAdminMembersListModel

@{
        ViewData["Title"] = "Role Assigned Members ";
    }

<h2>Members with roles in @Model.Team.Name</h2>

<p>
    <a asp-action="AddMemberRole">Add new team member role.</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Roles
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserRoles) {
        <tr>
            <td>
                @item.User.Name
            </td>
            <td>
            @item.RolesList
            </td>
            <td>
                @Html.ActionLink("Remove All Roles", "RemoveAllRoles", new { userId = item.User.Id})
            </td>

        </tr>
}
    </tbody>
</table>
