@model Keas.Mvc.Models.TeamAdminMembersListModel

@{
        ViewData["Title"] = "Role Assigned Members ";
    }
    <div class="card">
      <div class="card-head">
        <div class="row justify-content-between">
          <h2>Members with roles in @Model.Team.Name</h2>
          <a class="btn btn-link" asp-action="AddMemberRole"><i class="fas fa-arrow-left fa-xs"/></i> Add new team member role.</a>
        </div>
      </div>
      <div class="card-content">

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Roles
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserRoles) {
        <tr>
            <td>
                @item.User.Name
            </td>
            <td>
            @item.RolesList
            </td>
            <td>
                @Html.ActionLink("Remove Role(s)", "RemoveRoles", new { userId = item.User.Id})
            </td>

        </tr>
}
    </tbody>
</table>
</div>
</div>
