
@{
    ViewData["Title"] = "Upload CSV";
}

        <div class="card keys-color">
            <div class="card-header-keys">
                <div class="card-head">
                    <h2>Upload Keys</h2>
                </div>
            </div>
            <div class="card-content">
                <a href="UploadKeys" class="btn btn-link">Upload Keys from CSV <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="card equipment-color">
            <div class="card-header-equipment">
                <div class="card-head">
                    <h2>Upload Equipment</h2>
                </div>
            </div>
            <div class="card-content">
                <a href="UploadEquipment" class="btn btn-link">Upload Equipment from CSV <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
            </div>
        </div>



