@{
    ViewData["Title"] = "Home Page";
}
<div class="card">
  <div class="card-head">
    <h1>Home</h1>
  </div>
  <div class="card-content">
    <div class="row">
      <div class=""><h3>Team CAES</h3>
              <ul>
                  <li>
                      <a asp-action="Index" asp-controller="People" asp-route-teamName="CAESDO">Team People View</a>
                  </li>
                  <li>
                      <a href="/CAESDO/people/1">Person Details</a>
                  </li>
                  <li>
                      <a href="/CAESDO/keys">Team Assets</a>
                  </li>
                  <li>
                      <a href="/CAESDO/Confirm/Mystuff">MyStuff</a>
                  </li>
                  <li>
                      <a href="/CAESDO/Report/ExpiringItems">Expiring Items Report</a>
                  </li>

                  <li>
                      <a href="/CAESDO/TeamAdmin">Administer Team</a>
                  </li>
                  <li>
                      <a href="/CAESDO/TagsManager">Tags for Team CAES</a>
                  </li>

              </ul>
            </div>
            <div class="">
                    <h3>System Admin</h3>

                        <ul>
                            <li>
                                <a href="/Team/Index">Teams in system</a>
                            </li>
                            <li>
                                <a href="/Admin/Index">System Administration</a>
                            </li>
                        </ul></div>
      </div>


  </div>
</div>
