@{
    ViewData["Title"] = "Home Page";
}
<div class="card">
  <div class="card-head">
    <h1>Home</h1>
  </div>
  <div class="card-content">
    <div class="row">
      <div class=""><h3>Team CAES</h3>
              <ul>                 
                  <li>
                      <a href="/Confirm/SelectTeam?urlRedirect=people">Person Details</a>
                  </li>
                  <li>
                      <a href="/Confirm/SelectTeam?urlRedirect=keys">Team Assets</a>
                  </li>
                  <li>
                      <a href="/Confirm/SelectTeam">MyStuff</a>
                  </li>
                  <li>
                      <a href="/Confirm/SelectTeam?urlRedirect=Report/ExpiringItems">Expiring Items Report</a>
                  </li>

                  <li>
                      <a href="/Confirm/SelectTeam?urlRedirect=TeamAdmin">Administer Team</a>
                  </li>
                  <li>
                      <a href="/Confirm/SelectTeam?urlRedirect=TagsManager">Tags for Team CAES</a>
                  </li>

              </ul>
            </div>
            <div class="">
                    <h3>System Admin</h3>

                        <ul>                           
                            <li>
                                <a href="/Admin/Index">System Administration</a>
                            </li>
                        </ul></div>
      </div>


  </div>
</div>
