@{
    ViewData["Title"] = "Home Page";
}

<h1>Home</h1>

<ul>
    <li>
        <a asp-action="Index" asp-controller="People" asp-route-teamName="CAESDO">Team People View</a>
    </li>
    <li>
        <a asp-action="Details" asp-controller="People" asp-route-teamName="CAESDO" asp-route-id="1">Person Details</a>
    </li>
</ul>