@{
    ViewData["Title"] = "Home Page";
}

<h1>Home</h1>

<dl>
    <dt>Team CAES</dt>
    <dd>
        <ul>
            <li>
                <a asp-action="Index" asp-controller="People" asp-route-teamName="CAESDO">Team People View</a>
            </li>
            <li>
                <a href="/CAESDO/people/1">Person Details</a>
            </li>
            <li>
                <a href="/CAESDO/keys">Team Assets</a>
            </li>
            <li>
                <a href="/CAESDO/Confirm/Mystuff">MyStuff</a>
            </li>

            <li>
                <a href="/CAESDO/TeamAdmin">Administer Team</a>
            </li>
            <li>
                <a href="/CAESDO/TagsManager">Tags for Team CAES</a>
            </li>

        </ul>
    </dd>
    <dt>System Admin</dt>
    <dd>
        <ul>
            <li>
                <a href="/Team/Index">Teams in system</a>
            </li>
            <li>
                <a href="/Admin/Index">System Administration</a>
            </li>
        </ul>
    </dd>
</dl>
