@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model Keas.Mvc.Models.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}
<div class="card">
  <div class="card-head">
    <h1>Home</h1>
    @if(Model.PendingItems){
          <div class="alert alert-warning">You have pending items!
          <a class="btn btn-link" asp-controller="Confirm" asp-action="Confirm">Go to Accept page <i class="fas fa-arrow-right fa-xs"></i></a></div>
        }
  </div>
  <div class="card-content">
    <div class="row">
      <div class=""><h3>Team Actions</h3>
              <ul>
                 @if ((await AuthorizationService.AuthorizeAsync(User, "AnyRole")).Succeeded)
                {
                    <li>
                        <a href='@string.Format("/{0}/{1}", TempData["TeamName"] , "Keys")'>Team Assets</a>                       
                    </li>
                }                  
                  <li>                      
                      <a asp-controller="Confirm" asp-action="MyStuff">MyStuff</a>
                  </li>
                   @if ((await AuthorizationService.AuthorizeAsync(User, "DepartmentAdminAccess")).Succeeded)
                {
                    <li> 
                      <a asp-controller="TeamAdmin">Administer Team</a> 
                  </li> 
                }   
                   
              </ul>
            </div>
            @if ((await AuthorizationService.AuthorizeAsync(User, "SystemAdminAccess")).Succeeded)
                {
                   <div class="">
                    <h3>System Admin</h3>

                        <ul>                           
                            <li>
                                <a href="/Admin/Index">System Administration</a>
                            </li>
                        </ul></div>
                   
                } 
            
 </div>

  </div>
</div>
