@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@if ((await AuthorizationService.AuthorizeAsync(User, "DepartmentAdminAccess")).Succeeded)
{
    <div class="card primary-color">
        <div class="card-header-primary-thick">
            <div class="card-head">
                <h2>Expiring Items (all)</h2>
            </div>
        </div>
        <div class="card-content">
            <a href="Report/ExpiringItems" class="btn btn-link">Expiring Items <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
        </div>
    </div>
}

<div class="card people-color">
    <div class="card-header-people">
        <div class="card-head">
            <h2>Supervisor's Direct Reports</h2>
        </div>
    </div>
    <div class="card-content">
        <a href="Report/SupervisorDirectReports" class="btn btn-link">Direct Reports by Supervisor <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
    </div>
</div>

@if ((await AuthorizationService.AuthorizeAsync(User, "KeyMasterAccess")).Succeeded)
{
    <div class="card keys-color">
        <div class="card-header-keys">
            <div class="card-head">
                <h2><i class="fas fa-key fa-xs"></i> Expiring Keys</h2>
            </div>
        </div>
        <div class="card-content">
            <a href="Report/ExpiringKeys" class="btn btn-link">Expiring Keys <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
        </div>
    </div>
}

@if ((await AuthorizationService.AuthorizeAsync(User, "EquipMasterAccess")).Succeeded)
{
    <div class="card equipment-color">
        <div class="card-header-equipment">
            <div class="card-head">
                <h2><i class="fas fa-hdd fa-xs"></i> Expiring Equipment</h2>
            </div>
        </div>
        <div class="card-content">
            <a href="Report/ExpiringEquipment" class="btn btn-link">Expiring Equipment <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
        </div>
    </div>
}

@if ((await AuthorizationService.AuthorizeAsync(User, "AccessMasterAccess")).Succeeded)
{
    <div class="card access-color">
        <div class="card-header-access">
            <div class="card-head">
                <h2><i class="fas fa-address-card fa-xs"></i> Expiring Access</h2>
            </div>
        </div>
        <div class="card-content">
            <a href="Report/ExpiringAccess" class="btn btn-link">Expiring Access <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
        </div>
    </div>
}

@if ((await AuthorizationService.AuthorizeAsync(User, "SpaceMasterAccess")).Succeeded)
{
    <div class="card spaces-color">
        <div class="card-header-spaces">
            <div class="card-head">
                <h2><i class="fas fa-briefcase fa-xs"></i> Expiring Workstations</h2>
            </div>
        </div>
        <div class="card-content">
            <a href="Report/ExpiringWorkstations" class="btn btn-link">Expiring Workstations <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
        </div>
    </div>
}
