@model string[]
@using Keas.Core.Domain

@{
    ViewData["Title"] = "Reports";
}
<div class="row justify-content-between">
    <div class="col-md-6">
        <div class="card primary-color">
            <div class="card-header-primary-thick">
                <div class="card-head">
                    <h2>Expiring Items</h2>
                </div>
            </div>
            <div class="card-content">
                <a asp-action="ExpiringItems" class="btn btn-link">Expiring Items <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card people-color">
            <div class="card-header-people">
                <div class="card-head">
                    <h2>Supervisor's Direct Reports</h2>
                </div>
            </div>
            <div class="card-content">
                <a asp-action="SupervisorDirectReports" class="btn btn-link">Direct Reports by Supervisor <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    @if (Model.Contains(Role.Codes.EquipmentMaster) || Model.Contains(Role.Codes.DepartmentalAdmin) || Model.Contains(Role.Codes.KeyMaster) || Model.Contains(Role.Codes.SpaceMaster))
    {
        <div class="col-md-6">
            <div class="card primary-color">
                <div class="card-header-primary-thick">
                    <div class="card-head">
                        <h2>Items Pending Acceptance</h2>
                    </div>
                </div>
                <div class="card-content">
                    <a asp-action="UnAcceptedItems" class="btn btn-link">Items Pending Acceptance <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    }
    @if (Model.Contains(Role.Codes.EquipmentMaster) || Model.Contains(Role.Codes.DepartmentalAdmin))
    {
        <div class="col-md-6">
            <div class="card equipment-color">
                <div class="card-header-equipment">
                    <div class="card-head">
                        <h2>Equipment Attributes</h2>
                    </div>
                </div>
                <div class="card-content">
                    <a asp-action="KeyValues" class="btn btn-link">Key/Value Pairs in Equipment <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card equipment-color">
                <div class="card-header-equipment">
                    <div class="card-head">
                        <h2>Equipment List</h2>
                    </div>
                </div>
                <div class="card-content">
                    <a asp-action="EquipmentReport" class="btn btn-link">All Equipment <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    }
    <div class="col-md-6">
        <div class="card people-color">
            <div class="card-header-people">
                <div class="card-head">
                    <h2>Actions Against the People</h2>
                </div>
            </div>
            <div class="card-content">
                <a asp-action="PersonActions" class="btn btn-link">Actions taken against people in team <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    @if (Model.Contains(Role.Codes.SpaceMaster) || Model.Contains(Role.Codes.DepartmentalAdmin))
    {
        <div class="col-md-6">
            <div class="card spaces-color">
                <div class="card-header-spaces">
                    <div class="card-head">
                        <h2>Workstations</h2>
                    </div>
                </div>
                <div class="card-content">
                    <a asp-action="WorkstationReport" class="btn btn-link">Workstation Information <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    }
    @if (Model.Contains(Role.Codes.AccessMaster) || Model.Contains(Role.Codes.DepartmentalAdmin))
    {
        <div class="col-md-6">
            <div class="card access-color">
                <div class="card-header-access">
                    <div class="card-head">
                        <h2>Access List</h2>
                    </div>
                </div>
                <div class="card-content">
                    <a asp-action="AccessReport" class="btn btn-link">All Access <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    }
    @if (Model.Contains(Role.Codes.KeyMaster) || Model.Contains(Role.Codes.DepartmentalAdmin))
    {
        <div class="col-md-6">
            <div class="card keys-color">
                <div class="card-header-keys">
                    <div class="card-head">
                        <h2>Keys</h2>
                    </div>
                </div>
                <div class="card-content">
                    <a asp-action="KeyReport" class="btn btn-link">Just Keys <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a><br/>
                    <a asp-action="KeyWithSerialReport" class="btn btn-link">Keys With Serials <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a><br/>
                    <a asp-action="KeyWithSpaceReport" class="btn btn-link">Keys With Spaces <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    }
</div>
