<div class="card">  
  <div class="card-body">
    <h5 class="card-title">Expiring Items</h5>
    <p class="card-text">Requires Departmental Admin (DA) role</p>
    <a href="ExpiringItems" class="btn btn-primary">Expiring Items</a>
  </div>
</div>

<div class="card">  
  <div class="card-body">
    <h5 class="card-title">Expiring Keys</h5>
    <p class="card-text">Requires DA or KeyMaster role</p>
    <a href="ExpiringKeys" class="btn btn-primary">Expiring Keys</a>
  </div>
</div>

<div class="card">  
  <div class="card-body">
    <h5 class="card-title">Expiring Equipment</h5>
    <p class="card-text">Requires DA or EquipmentMaster role</p>
    <a href="ExpiringEquipment" class="btn btn-primary">Expiring Equipment</a>
  </div>
</div>

<div class="card">  
  <div class="card-body">
    <h5 class="card-title">Expiring Access</h5>
    <p class="card-text">Requires DA or AccessMaster role</p>
    <a href="ExpiringAccess" class="btn btn-primary">Expiring Access</a>
  </div>
</div>

<div class="card">  
  <div class="card-body">
    <h5 class="card-title">Expiring Workstaitons</h5>
    <p class="card-text">Requires DA or SpaceMaster role</p>
    <a href="ExpiringWorkstations" class="btn btn-primary">Expiring Workstaitons</a>
  </div>
</div>
