@model string[]
@using Keas.Core.Domain

@{
    ViewData["Title"] = "Reports";
}
<div class="card">
    <div class="card-header-primary">
        <div class="row justify-content-between">
          <div class="card-head">
            <h2><i class="fas fa-tasks fa-xs"></i> Reports</h2>
          </div>
        </div>
      </div>
      <div class="card-content">
        <div class="row">
            @if (Model.Contains(Role.Codes.EquipmentMaster) || Model.Contains(Role.Codes.DepartmentalAdmin))
            {
            <div class="report-list equipment-color col-md-3">
                <h3><i class="fas fa-hdd fa-xs"></i> Equipment Reports</h3>
                <ul>
                    <li>
                        <a asp-action="EquipmentReport">View All Equipment <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a asp-action="EquipmentReportV2">View All Equipment V2 <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a asp-action="KeyValues">Key/Value Pairs in Equipment <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
                    </li>      
                </ul>
            </div>
        }
        <div class="report-list people-color col-md-3">
            <h3><i class="fas fa-users fa-xs"></i> People Reports</h3>
            <ul>
                <li>
                    <a asp-action="SupervisorDirectReports">Direct Reports by Supervisor <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a asp-action="PersonActions">Actions Taken Against People in Team <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
                </li>   
                <li>
                    <a asp-action="PeopleInTeam">People in Team <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
                </li> 
            </ul>
        </div>
        @if (Model.Contains(Role.Codes.SpaceMaster) || Model.Contains(Role.Codes.DepartmentalAdmin))
        {
            <div class="report-list spaces-color col-md-3">
                <h3><i class="fas fa-building fa-xs"></i> Workstations Reports</h3>
                    <ul>
                        <li>
                        <a asp-action="WorkstationReport">View All Workstations <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
                        </li>
                    </ul> 
            </div>
        }
        @if (Model.Contains(Role.Codes.AccessMaster) || Model.Contains(Role.Codes.DepartmentalAdmin))
        {
            <div class="report-list access-color col-md-3">
                <h3><i class="fas fa-id-card fa-xs"></i> Access Reports</h3>
                <ul>
                    <li>
                        <a asp-action="AccessReport">View All Access <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        }
        
        @if (Model.Contains(Role.Codes.KeyMaster) || Model.Contains(Role.Codes.DepartmentalAdmin))
        {
            <div class="report-list keys-color col-md-3">
                <h3><i class="fas fa-key fa-xs"></i> Keys Reports</h3>
                <ul>
                    <li>
                        <a asp-action="KeyReport">View All Keys <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a asp-action="KeyWithSerialReport">Keys With Serials <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a asp-action="KeyWithSpaceReport">Keys With Spaces <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        }
        @if (Model.Contains(Role.Codes.DocumentMaster) || Model.Contains(Role.Codes.DepartmentalAdmin))
        {
            <div class="report-list documents-color col-md-3">
                <h3><i class="fas fa-file-alt fa-xs"></i> Documents Reports</h3>
                <ul>
                    <li>
                        <a asp-action="PeopleWithIncompleteDocuments">People with Unsigned Documents <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        }
        <div class="report-list general-color col-md-3">
            <h3><i class="fas fa-list fa-xs"></i> General Reports</h3>
            <ul>
                <li>
                    <a asp-action="ExpiringItems">Expiring Items <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
                </li>
                @if (Model.Contains(Role.Codes.EquipmentMaster) || Model.Contains(Role.Codes.DepartmentalAdmin) || Model.Contains(Role.Codes.KeyMaster) || Model.Contains(Role.Codes.SpaceMaster))
                {
                    <li>
                        <a asp-action="UnAcceptedItems">Items Pending Acceptance <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
                    </li>
                }

            </ul>
            </div>
        </div>
      </div>
    </div>
