@using Keas.Core.Models
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Reports";
}


    <div class="card primary-color">
        <div class="card-header-primary-thick">
            <div class="card-head">
                <h2>Expiring Items</h2>
            </div>
        </div>
        <div class="card-content">
            <a href="Report/ExpiringItems" class="btn btn-link">Expiring Items <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
        </div>
    </div>


<div class="card people-color">
    <div class="card-header-people">
        <div class="card-head">
            <h2>Supervisor's Direct Reports</h2>
        </div>
    </div>
    <div class="card-content">
        <a href="Report/SupervisorDirectReports" class="btn btn-link">Direct Reports by Supervisor <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
    </div>
</div>

 <div class="card primary-color">
        <div class="card-header-primary-thick">
            <div class="card-head">
                <h2>Items Pending Acceptance</h2>
            </div>
        </div>
        <div class="card-content">
            <a href="Report/UnAcceptedItems" class="btn btn-link">Items Pending Acceptance <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
        </div>
    </div>

    <div class="card primary-color">
        <div class="card-header-primary-thick">
            <div class="card-head">
                <h2>Key/Value</h2>
            </div>
        </div>
        <div class="card-content">
            <a href="Report/KeyValues" class="btn btn-link">Key/Value Pairs in Equipment <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
        </div>
    </div>


