@model Keas.Mvc.Models.SupervisorReportViewModel

<form asp-action="SupervisorDirectReports">
    <div class="card">
      <div class="card-header-spaces">
        <div class="card-head">
          <h2>Supervisor Direct Reports</h2>
        </div>
      </div>

        <div class="card-content">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="shade spaces-color report-spaces">
                <div class="row align-items-end">
                    <div class="col-sm">
                        <h3>Filters</h3>
                        <div class="form-group">
                            <label asp-for="PersonId" class="control-label"></label>
                             <select asp-for="PersonId" class="form-control" asp-items="@(new SelectList(Model.Supervisors, "Id", "Name"))"></select>
                        </div>
                    </div>                    
                    <div class="col-sm">
                        <div class="form-group">
                            <i class="fas fa-sync-alt fa-sm"></i><input type="submit" value="Refresh Report" class="btn btn-link" />
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
           <table id="dtDirectReports" class="table dataTable">
        <thead>
        <tr>            
            <th>
               Name
            </th>
        </tr>
        </thead>
        <tbody>
        @if (Model.Reports != null)
        {
        foreach (var item in Model.Reports)
        {
            <tr>                
                <td>@Html.DisplayFor(a=> item.Name)
                </td>                
            </tr>
        }
        }        
        </tbody>
    </table>

        </div>
    </div>
</form>