@model Keas.Core.Domain.Group

@{
    ViewBag.Title = "title";
}

<div class="card">
    <div class="card-header-primary">
        <div class="row justify-content-between">
          <div class="card-head">
            <h2><i class="fas fa-tasks fa-xs"></i> Reports for group: @Model.Name</h2>
          </div>
        </div>
      </div>
      <div class="card-content">
        <div class="row">

            <div class="report-list equipment-color col-md-3">
                <h3><i class="fas fa-hdd fa-xs"></i> Equipment Reports</h3>
                <ul>
                    <li>
                        <a asp-action="EquipmentReport" asp-route-id="@Model.Id">View All Equipment <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
                    </li>
   
                </ul>
            </div>


            <div class="report-list spaces-color col-md-3">
                <h3><i class="fas fa-building fa-xs"></i> Workstations Reports</h3>
                    <ul>
                        <li>
                        <a asp-action="WorkstationReport" asp-route-id="@Model.Id">View All Workstations <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
                        </li>
                    </ul> 
            </div>

        </div>
      </div>
</div>


