@model Keas.Core.Domain.Group

@{
    ViewBag.Title = "title";
}

<h2>Welcome to the @Model.Name Group</h2>

<div class="row justify-content-between">
    <div class="col-md-6">
        <div class="card equipment-color">
            <div class="card-header-equipment">
                <div class="card-head">
                    <h2>Equipment List</h2>
                </div>
            </div>
            <div class="card-content">
                <a asp-action="EquipmentReport" asp-route-id="@Model.Id" class="btn btn-link">All Equipment <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card spaces-color">
            <div class="card-header-spaces">
                <div class="card-head">
                    <h2>Workstations</h2>
                </div>
            </div>
            <div class="card-content">
                <a asp-action="WorkstationReport" asp-route-id="@Model.Id" class="btn btn-link">Workstation Information <i class="fas fa-chevron-right fa-sm" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>


