@using Keas.Jobs.SendMail.Views.Shared
@model Keas.Jobs.SendMail.Views.Shared.EmailButtonModel

    <mj-section border-left="1px solid #c7c8cc" border-right="1px solid #c7c8cc" background-color="#ffffff" border-top="0px" border-bottom="0px" padding-bottom="10px" padding-top="0px">
    @* This is just for padding with the standard background color*@
    </mj-section>

    <mj-section border-left="1px solid #c7c8cc" border-right="1px solid #c7c8cc" background-color="#C8CFD8" border-top="1px solid #DEEEFF" border-bottom="1px solid #DEEEFF" padding-bottom="0px" padding-top="10px">
      <mj-column width="100%" vertical-align="top">
        <mj-text align="center" font-size="14px" line-height="1.5" color="#000000" padding-right="25px" padding-bottom="0" padding-top="0">
          
        <p>@Model.Description</p>
    
        </mj-text>
        <mj-button background-color="#9FB2CA" color="#203F60" font-size="14px" align="center" vertical-align="middle" border-radius="3px" border="2px solid #203F60" href="@Model.Url" padding-left="25px" padding-right="25px" padding-bottom="10px" padding-top="0px">
          @Model.ButtonText
        </mj-button>
      </mj-column>
    </mj-section>
