@model IEnumerable<Keas.Core.Domain.Tag>

@{
    ViewData["Title"] = "Tags";
}
<div class="card">
  <div class="card-head">
    <div class="row justify-content-between">
        <h2>Tags</h2>
          <a class="btn btn-link" asp-action="Create"><i class="fas fa-plus fa-sm" aria-hidden="true" /></i> Create New</a>
    </div>

  </div>
<div class="card-content">
    <table class="table">
        <thead>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>

</div>
