@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


@if ((await AuthorizationService.AuthorizeAsync(User, "KeyMasterAccess")).Succeeded)
{
    <p>This paragraph is displayed because you fulfilled Key Master Policy.</p>
}

@if ((await AuthorizationService.AuthorizeAsync(User, "EquipMasterAccess")).Succeeded)
{
    <p>This paragraph is displayed because you fulfilled Equipment Master Policy.</p>
}

@if ((await AuthorizationService.AuthorizeAsync(User, "AccessMasterAccess")).Succeeded)
{
    <p>This paragraph is displayed because you fulfilled Access Master Policy.</p>
}

@if ((await AuthorizationService.AuthorizeAsync(User, "DepartmentAdminAccess")).Succeeded)
{
    <p>This paragraph is displayed because you fulfilled Departmental Admin Policy.</p>
}

@if ((await AuthorizationService.AuthorizeAsync(User, "SystemAdminAccess")).Succeeded)
{
    <p>This paragraph is displayed because you fulfilled System Admin.</p>
}
