@model Keas.Mvc.Models.AdminMembersListModel

@{
    ViewData["Title"] = "Admins ";
}
<div class="card">
  <div class="card-head">
    <div class="row justify-content-between">
      <h2>Users with Admin Roles</h2>
      <a class="btn btn-link" asp-action="AddAdmin"><i class="fas fa-plus fa-xs"/></i> Add new Admin.</a>
    </div>
  </div>
  <div class="card-content">
    <table class="table">
        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Roles
            </th>
            <th>

            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.UserRoles) {
            <tr>
                <td>
                    @item.User.Name
                </td>
                <td>
                    @item.RolesList
                </td>
                <td>
                    @Html.ActionLink("Remove Role(s)", "RemoveRoles", new { userId = item.User.Id})
                </td>

            </tr>
        }
        </tbody>
    </table>
  </div>

</div>
