.people-color {
  td a {
    color: $people;
  }
  .btn-link {
    color: $people;
    border-color: $people;
    &:hover {
      color: (darken($people, 10));
      text-decoration: none;
    }
  }
  .btn-primary {
    background-color: $people;
    &:active,
    &:focus {
      background-color: darken($people, 5);
    }
    &:hover {
      background-color: lighten($people, 5);
    }
  }

  p a {
    color: $people;
  }
  .fa-info-circle,
  .fa-tags,
  .fa-comment-alt {
    color: $people;
  }
  .card-header-people {
    border-bottom: 4px solid $people;
  }

  .fa-ellipsis-h:before {
    color: $people;
  }
  i.fa-sync-alt {
    color: $people;
  }
  .input-group-append {
    .btn-outline-secondary:not(:disabled):not(.disabled):active,
    .btn-outline-secondary:not(:disabled):not(.disabled).active,
    .show > .btn-outline-secondary.dropdown-toggle {
      background-color: $people;
      border-color: $people;
    }
    .btn-outline-secondary {
      color: $people;
    }
  }
}
.keys-color {
  td a {
    color: $keys;
  }
  .btn-link {
    color: $keys;
    border-color: $keys;
    &:hover {
      color: (darken($keys, 10));
      text-decoration: none;
    }
  }
  .btn-primary {
    background-color: $keys;
    &:active,
    &:focus {
      background-color: darken($keys, 5);
    }
    &:hover {
      background-color: lighten($keys, 5);
    }
  }

  .fa-info-circle,
  .fa-tags,
  .fa-comment-alt {
    color: $keys;
  }
  .card-header-keys {
    border-bottom: 4px solid $keys;
  }
  .fa-ellipsis-h:before {
    color: $keys;
  }
}
.spaces-color {
  td a {
    color: $spaces;
  }
  .btn-link {
    color: $spaces;
    border-color: $spaces;
    &:hover {
      color: (darken($spaces, 10));
      text-decoration: none;
    }
  }
  .btn-primary {
    background-color: $spaces;
    &:active,
    &:focus {
      background-color: darken($spaces, 5);
    }
    &:hover {
      background-color: lighten($spaces, 5);
    }
  }

  .fa-info-circle,
  .fa-tags,
  .fa-comment-alt {
    color: $spaces;
  }
  .card-header-spaces {
    border-bottom: 4px solid $spaces;
  }

  .fa-ellipsis-h:before {
    color: $spaces;
  }
}
.keys-anomaly {
  color: $keys !important;
  border-color: $keys;
  &:hover {
    color: (darken($keys, 10));
    text-decoration: none;
  }
  &.fa-ellipsis-h:before {
    color: $keys;
  }
}
.equipment-color {
  td a {
    color: $equipment;
  }
  .btn-link {
    color: $equipment;
    border-color: $equipment;
    &:hover {
      color: (darken($equipment, 10));
      text-decoration: none;
    }
  }
  .btn.btn-primary {
    background-color: $equipment;
    &:active,
    &:focus {
      background-color: darken($equipment, 5);
    }
    &:hover {
      background-color: lighten($equipment, 5);
    }
  }
  .fa-info-circle,
  .fa-tags,
  .fa-comment-alt {
    color: $equipment;
  }
  .card-header-equipment {
    border-bottom: 4px solid $equipment;
  }

  .fa-ellipsis-h:before {
    color: $equipment;
  }
  i.fa-sync-alt {
    color: $equipment;
  }
}
.access-color {
  td a {
    color: $access;
  }
  .btn-link {
    color: $access;
    border-color: $access;
    &:hover {
      color: (darken($access, 10));
      text-decoration: none;
    }
  }
  .btn-primary {
    background-color: $access;
    &:active,
    &:focus {
      background-color: darken($access, 5);
    }
    &:hover {
      background-color: lighten($access, 5);
    }
  }

  .fa-info-circle,
  .fa-tags,
  .fa-comment-alt {
    color: $access;
  }
  .card-header-access {
    border-bottom: 4px solid $access;
  }

  .fa-ellipsis-h:before {
    color: $access;
  }
}

.history-color {
  td a {
    color: $history;
  }
  .btn-link {
    color: $history;
    border-color: $history;
    &:hover {
      color: (darken($history, 10));
      text-decoration: none;
    }
  }
  .card-header-history {
    border-bottom: 4px solid $history;
  }
  .btn-primary {
    background-color: $history;
    &:active,
    &:focus {
      background-color: darken($history, 5);
    }
    &:hover {
      background-color: lighten($history, 5);
    }
  }
  i.fa-sync-alt {
    color: $history;
  }
  .input-group-append {
    .btn-outline-secondary:not(:disabled):not(.disabled):active,
    .btn-outline-secondary:not(:disabled):not(.disabled).active,
    .show > .btn-outline-secondary.dropdown-toggle {
      background-color: $history;
      border-color: $history;
    }
    .btn-outline-secondary {
      color: $history;
    }
  }
}
.documents-color {
  td a {
    color: $documents;
  }
  .btn-link {
    color: $documents;
    border-color: $documents;
    &:hover {
      color: (darken($documents, 10));
      text-decoration: none;
    }
  }
  .card-header-documents {
    border-bottom: 4px solid $documents;
  }
  .btn-primary {
    background-color: $documents;
    &:active,
    &:focus {
      background-color: darken($documents, 5);
    }
    &:hover {
      background-color: lighten($documents, 5);
    }
  }
  i.fa-sync-alt {
    color: $documents;
  }
  .input-group-append {
    .btn-outline-secondary:not(:disabled):not(.disabled):active,
    .btn-outline-secondary:not(:disabled):not(.disabled).active,
    .show > .btn-outline-secondary.dropdown-toggle {
      background-color: $documents;
      border-color: $documents;
    }
    .btn-outline-secondary {
      color: $documents;
    }
  }
}

//
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  border-color: rgba(255, 255, 255, 0.9999) !important;
  .people-color & {
    background-color: $people;
  }
  .keys-color & {
    background-color: $keys;
  }
  .spaces-color & {
    background-color: $spaces;
  }
  .access-color & {
    background-color: $access;
  }
  .equipment-color & {
    background-color: $equipment;
  }
}
