.card {
  background-color: #ffffff;
  box-shadow: $box-shadow;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 16px;
  border: none;
  .card-head {
    padding: $card-padding;
    padding-top: 1.8rem;
    align-items: end;
  }
  .card-content {
    padding: $card-padding;
    padding-bottom: 2.6rem;
    padding-top: 2.6rem;
  }
}
.alert {
  margin-top: 1.6rem;
  padding: $card-padding;
  box-shadow: $box-shadow;
  p {
    margin-bottom: 0px;
    color: $secondary-font;
  }
}

.team-link {
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  min-width: 200px;
  line-height: 40px;
  padding: 0 20px;
  box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 3px rgba(0, 0, 0, 0.08);
  background: $secondary-color;
  border-radius: 2px;
  font-size: 1.6rem;
  letter-spacing: 0.025em;
  color: #fff !important;
  text-decoration: none;
  transition: all 0.15s ease;
  border: none;
  font-family: $sans-bold;
  &:active,
  &:focus {
    background-color: darken($primary-color, 5);
  }
  &:hover {
    color: #fff !important;
    transform: translateY(-1px);
    box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.15) inset,
      0 3px 6px rgba(0, 0, 0, 0.08);
    background-color: lighten($primary-color, 5);
    text-decoration: none !important;
  }
}
.card-gradient-header {
  // background: url('/media/gradient-header.svg') center top/cover no-repeat;
  height: 6px;
}
.card-gradient-header-bleed {
  background: #1e3a5b;
  background: -moz-linear-gradient(
    left,
    #1e3a5b 0%,
    #1e3a5b 44%,
    #dbbc5b 57%,
    #dbbc5b 100%
  );
  background: -webkit-linear-gradient(
    left,
    #1e3a5b 0%,
    #1e3a5b 44%,
    #dbbc5b 57%,
    #dbbc5b 100%
  );
  background: linear-gradient(
    to right,
    #1e3a5b 0%,
    #1e3a5b 44%,
    #dbbc5b 57%,
    #dbbc5b 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= '$gradient-one',endColorstr='$gradient-two',GradientType=1);
}
.input-group-append {
  .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
  .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: none;
  }
  .btn-outline-secondary {
    box-shadow: none;
    &:hover {
      color: $primary-font;
    }
  }
}
.card-header-primary {
  border-bottom: 2px solid $borders;
}
.card-header-primary-thick {
  border-bottom: 4px solid $borders;
}
.card-header-other {
  border-bottom: 2px solid $blue;
}
.card-foot {
  padding: $card-padding;
  border-top: 1px solid $borders;
}
button {
  cursor: pointer;
  background-color: inherit;
}
img.img-fluid {
  width: 100%;
}
.alert-red {
  background-color: transparentize($people, 0.35);
  &:hover {
    background-color: transparentize($people, 0.15);
  }
}
.alert-yellow {
  background-color: transparentize($equipment, 0.35);
  &:hover {
    background-color: transparentize($equipment, 0.15);
  }
}
.alert-green {
  background-color: transparentize($access, 0.35);
  &:hover {
    background-color: transparentize($access, 0.15);
  }
}
.alert-blue {
  background-color: transparentize($sky-blue, 0.35);
  &:hover {
    background-color: transparentize($sky-blue, 0.15);
  }
}
.dropdown-toggle::after {
  content: none;
}
.btn {
  &.btn-primary {
    @include main-btn;
  }
  &.btn-success {
    @include main-btn;
    background-color: $access !important;
  }
  &.btn-link {
    color: $primary-color;
    font-size: 1.6rem;
    font-family: $sans-bold;
    box-shadow: none;
    border: none;
    cursor: pointer;
    &:hover {
      color: lighten($primary-color, 5);
      text-decoration: none;
    }
  }
}
.btn-border {
  border: 1px solid #c7c8cc !important;
  color: $secondary-font !important;
}
.media {
  margin-bottom: 16px;

  img {
    margin-right: 20px;
  }
}

ol.breadcrumb {
  display: inline-block;
  list-style: none;
  border: 0;
  padding-left: 0;
  background-color: #fff;
  margin-bottom: 0;
  margin-top: 16px;

  li {
    font-size: 1.4rem;
  }

  a {
    color: $tertiary-font;
    // &:hover {
    //     color: darken($primary-color, 20%);
    // }
  }

  > li {
    display: inline-block;

    & + li:before {
      padding: 0 5px;
    }
  }

  > .active a {
    color: $secondary-font;
  }

  > li + li:before {
    color: $tertiary-font;
    content: '/';
  }
}

.marketing-highlight {
  .mh-title {
    background-color: $primary-color;

    h2 {
      color: #fff;
      font-size: 2.6rem;
      margin: 0;
      padding: 16px 24px;
    }
  }

  .mh-content {
    background-color: $bg-color;
    padding: 20px 24px;
  }
}

.separator {
  margin: 20px 0 10px;
}

.m-r {
  margin-right: 8px;
}
.m-l {
  margin-left: 8px;
}
.m-b {
  margin-bottom: 16px;
}
.align-items-center {
  align-items: center;
}

.align-items-top {
  align-items: top;
}

.align-center {
  align-self: center;
}

.flex-between {
  justify-content: space-between;
}

.flexer {
  display: flex;
}

.t-right {
  text-align: right;
}

.t-center {
  text-align: center;
}

.display-inline-block {
  display: inline-block;
}

.spacer {
  padding: 12% 0 9%;
}

.card-nobrdr {
  border: 0 solid #fff;
}

.bot-border {
  border-bottom: 1px solid $bg-color;
}
//database

.border-top {
  border-top: 2px solid rgba(255, 255, 255, 0.95);
}

.border-blue-top {
  border-top: 1px solid $primary-color;
}

.border-blue-bottom {
  border-bottom: 1px solid $primary-color;
}

.border-blue-right {
  border-right: 1px solid $primary-color;
}

.bg-unitrans {
  background-color: $people;
}

.bg-access {
  background-color: $access;
}

.bg-equipment {
  background-color: $equipment;
}

.bg-recpool {
  background-color: $recpool-blue;
}

.bg-skyblue {
  background-color: $sky-blue;
}

.bg-winegrape {
  background-color: $pinot;
}

.border-unitrans {
  border-color: $people;
}

.border-skyblue {
  border-color: $sky-blue;
}

.border-access {
  border-color: $access;
}

.border-equipment {
  border-color: $equipment;
}

.color-unitrans {
  color: $people !important;
}

.color-access {
  color: $access;
}

.color-equipment {
  color: $equipment;
}

.color-winegrape {
  color: $pinot;
}

.color-western-redbud {
  color: $western-redbud;
}

.color-poppy {
  color: $california-poppy;
}

.color-skyblue {
  color: $sky-blue;
}

.primary-color {
  color: $primary-color;
}

.a-color {
  color: $a-link;
}
.primary-color {
  color: $primary-color;
}
.sans-bold {
  font-family: $sans-bold;
}
.primary-font {
  color: $primary-font;
}

.secondary-font {
  color: $secondary-font;
}

.tertiary-font {
  color: $tertiary-font;
}

.flex-center {
  align-items: center;
}
.twopointoh {
  font-size: 2rem;
}
.onepointeight {
  font-size: 1.8rem;
}
.card-bot-border {
  border-bottom: 1px solid $borders;
}
.table-borderless {
  td,
  th {
    border-top: none !important;
    padding-left: 0px;
  }
  .rbt {
    margin-bottom: 0px;
  }
}

.-previous {
  text-align: left !important;
}
.-next {
  text-align: right !important;
}

.keys-anomaly {
  color: $keys !important;
  border-color: $keys;
  &:hover {
    color: (darken($keys, 10));
    text-decoration: none;
  }
  &.fa-ellipsis-h:before {
    color: $keys;
  }
}
#Name-error {
  color: $people;
}
.bigfix-info {
  cursor: pointer;
  color: $a-link !important;
  &:hover {
    color: $primary-color !important;
  }
}

.border-bottom {
  border-bottom: 1px solid #dee2e6;
}

.border-none {
  border-style: none;
}
.Toastify__toast--success {
  background-color: $access !important;
}
.Toastify__toast--error {
  background-color: $people !important;
}
.Toastify__toast-body {
  color: #fff !important;
  font-family: $sans-bold;
}

.fa-info-circle {
  color: $primary-color;
}
button:focus {
  outline: none;
}
// .input-group-append button {
//   border:1px solid #ced4da !important;
//   .people-color &{
//     background-color:transparentize($people, 0.96);
//   }
//   .equipment-color &{
//     background-color:transparentize($equipment, 0.96);
//   }
//   .access-color &{
//     background-color:transparentize($access, 0.96);
//   }
//   .keys-color &{
//     background-color:transparentize($keys, 0.96);
//   }
//   .spaces-color &{
//     background-color:transparentize($spaces, 0.96);
//   }
// }

// datepicker hack

.input-group-append {
  .btn-outline-secondary {
    color: inherit;
  }
}

// modal

.modal-header {
  h2 {
    overflow-wrap: anywhere;
  }
}

.loading-wrapper {
  text-align: center;
}

// RBT token

.rbt-token {
  line-height: inherit !important;
  .rbt-token-remove-button {
    align-self: center;
  }
  .rbt-token-label {
    padding: 0 0.5rem;
    margin-right: 4px;
  }
  .rbt-close {
    margin-right: 4px;
  }
}
