table {
  font-size: 1.6rem;
}

.ReactTable {
  margin-bottom: 2.4rem;
}

.shade {
  background-color: $bg-color;
  padding: 12px;
}

.wrapperasset {
  padding-left: 16px;
  border-left: 6px solid $borders;
  margin: 0.8rem 0 1.6rem 0;

  .equipment-color & {
    border-color: transparentize($equipment, 0.5);
  }

  .keys-color & {
    border-color: transparentize($keys, 0.5);
  }

  .spaces-color & {
    border-color: transparentize($spaces, 0.5);
  }

  .access-color & {
    border-color: transparentize($access, 0.5);
  }

  .people-color & {
    border-color: transparentize($people, 0.5);
  }
}

.person-card {
  ul {
    margin-top: 16px;
  }

  .person-col {
    padding-right: 40px;
    width: 66%;
    margin-top: 16px;

    @include breakpoint(md) {
      width: 45%;
    }

    @include breakpoint(lg) {
      width: 29%;
    }
  }

  .notes-deets {
    margin-top: 16px;
    max-width: 619px;
  }
}

// Reports
.report-list {
  h3 {
    margin-top: 2%;
  }

  ul {
    list-style-type: none;
    padding-left: 15px;
    border-left: 4px solid $borders;
    margin-left: 6px;
    li {
      font-family: $sans-bold;
      line-height: 2;

      span {
        font-family: $sans-bold;
        line-height: 2;
      }

      a {
        color: $primary-font;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.report-list.people-color {
  ul {
    border-color: $people;
  }
  h3 i {
    color: $people;
  }
}

.report-list.equipment-color {
  ul {
    border-color: $equipment;
  }
  h3 i {
    color: $equipment;
  }
}

.report-list.access-color {
  ul {
    border-color: $access;
  }
  h3 i {
    color: $access;
  }
}

.report-list.keys-color {
  ul {
    border-color: $keys;
  }
  h3 i {
    color: $keys;
  }
}

.report-list.spaces-color {
  ul {
    border-color: $spaces;
  }
  h3 i {
    color: $spaces;
  }
}

.report-list.general-color {
  ul {
    border-color: $history;
  }
  h3 i {
    color: $history;
  }
}

.report-list.documents-color {
  ul {
    border-color: $documents;
  }

  h3 i {
    color: $documents;
  }
}
// quick actions
.quick-actions {
  .list-group-item {
    margin-bottom: 0px;
    a {
      color: $primary-font;
      &:hover {
        color: $a-link;
      }
    }
  }
}
