<ul class="list-group">
  <li class="list-group-item"><a class="btn btn-link" asp-action="Index" asp-controller="TagsManager">Team Tags</a></li>
  <li class="list-group-item"><a class="btn btn-link" asp-action="AddFISOrg" asp-controller="TeamAdmin">Add New Org Code</a></li>
  <li class="list-group-item"><a class="btn btn-link" asp-action="AddPpsDepartment" asp-controller="TeamAdmin">Add PPS Department</a></li>
  <li class="list-group-item"><a class="btn btn-link" asp-action="BulkLoadPeople" asp-controller="TeamAdmin">Bulk Load People</a></li>
  <li class="list-group-item"><a class="btn btn-link" asp-action="BulkEdit" asp-controller="TeamAdmin">Bulk Edit People</a></li>
  <li class="list-group-item"><a class="btn btn-link" asp-action="Upload" asp-controller="TeamAdmin">CSV Imports</a></li>
  <li class="list-group-item"><a class="btn btn-link" asp-action="RoledMembers" asp-controller="TeamAdmin">Admin roles</a></li>
  <li class="list-group-item"><a class="btn btn-link" asp-action="Index" asp-controller="Report">Reports</a></li>
  <li class="list-group-item"><a class="btn btn-link" asp-action="RegenerateApiCode" asp-controller="TeamAdmin">API Code</a></li>
</ul>
